<div class="create-col">
  <div class="error-explanation">
    <% if @prop.errors.any? %>
      <ul>
      <% @prop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
      </ul>
  </div>

  <br>
  <br>

  <%= form_for @prop do |f| %>
    <%= render partial: "prop", locals: {f: f} %>
  <% end %>

</div>
