<div class="create-col">
  <div class="error-explanation">
    <% if @board.errors.any? %>
        <li><%= @board.errors.first[1] %></li>
    <% end %>
  </div>
  <br>
  <br>

  <div>
    <%= form_for @board do |f| %>
      <%= render partial: "board_form", locals: {f: f} %>
    <% end %>
  </div>
</div>
