/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #999
 }

 .container {
   width: 80%;
   margin: 0 auto;
 }

header {
  background: #368fc8
}

.logo {
  float: left;
}

nav {
  float: right;
}

header::after{
  content: '';
  display: table;
  clear: both;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}

nav a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #474646;
}


body a {
  color: black;

}

.notice, .danger {
  background-color: rgba(205, 18, 49, 0.54);
  font-weight: 600;
}

.app-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
    position: absolute;
    width: 180px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top:-300px;
}

.welcome-main {
  background-color: yellow;
  padding: 5px;
  font-weight: 600;
  margin: 5px 0px;
}
